BODY {
	FONT-SIZE: 11pt; MARGIN: 0px; FONT-FAMILY: Arial, Helvetica; BACKGROUND-COLOR: #ffffff
}
TD {
	FONT-SIZE: 11pt; FONT-FAMILY: Arial, Helvetica
}
H1 {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 0px; COLOR: #8f8f8f; PADDING-TOP: 10px; BACKGROUND-COLOR: #100670
}
H2 {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 0px; COLOR: #100670; PADDING-TOP: 10px; BORDER-BOTTOM: #100670 15px solid; BACKGROUND-COLOR: #8f8f8f; TEXT-ALIGN: right
}
PRE {
	DISPLAY: block; OVERFLOW: auto
}
UL {
	MARGIN: 0px
}
LI {
	DISPLAY: list-item; LIST-STYLE-POSITION: outside; LIST-STYLE-TYPE: circle
}
#content {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; LEFT: 125px; PADDING-BOTTOM: 5px; BORDER-LEFT: 1px dotted; PADDING-TOP: 5px; POSITION: absolute
}
#sidebar {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 9pt; FLOAT: right; PADDING-BOTTOM: 5px; MARGIN: 5px; WIDTH: 190px; PADDING-TOP: 5px; BACKGROUND-COLOR: #817bbd
}
#example {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 10pt; PADDING-BOTTOM: 5px; MARGIN: 15px; BORDER-LEFT: #100670 double; PADDING-TOP: 5px
}
.toc {
	BORDER-RIGHT: #8f8f8f outset; PADDING-RIGHT: 5px; BORDER-TOP: #8f8f8f outset; DISPLAY: block; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12pt; PADDING-BOTTOM: 5px; BORDER-LEFT: #8f8f8f outset; COLOR: #ffffff; PADDING-TOP: 5px; BORDER-BOTTOM: #8f8f8f outset; BACKGROUND-COLOR: #817bbd
}
.chapter {
	MARGIN-TOP: 5px; DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #4d4970
}
.commercial {
	FLOAT: left; WIDTH: 125px
}
A {
	COLOR: #100670; TEXT-DECORATION: none
}
A:hover {
	COLOR: #4d4970; TEXT-DECORATION: underline
}
.title {
	FONT-SIZE: 14pt; COLOR: #1b09bd
}
.sidetitle {
	MARGIN-TOP: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #ffffff
}
.subtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; MARGIN-BOTTOM: 5px; COLOR: #817bbd
}
.commandline {
	FONT-SIZE: 10pt; COLOR: #707070
}
.example {
	PADDING-RIGHT: 3px; BORDER-TOP: #afafaf 1px dotted; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.source {
	FONT-SIZE: 11pt
}
.description {
	FONT-SIZE: 11pt
}
.logo {
	PADDING-RIGHT: 15px; PADDING-LEFT: 10px; FLOAT: left; PADDING-TOP: 5px
}
.small {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt
}
.top {
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; FONT-SIZE: 8pt; PADDING-BOTTOM: 15px; COLOR: #8f8f8f; PADDING-TOP: 15px; TEXT-ALIGN: right
}
